#modal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal', aria-hidden='true')
	.modal-dialog.modal-dialog--wdh500.modal-dialog-centered(role='document')
		.modal-content
			.modal-thanks
				.modal-thanks__close(data-dismiss='modal', aria-label='close')
					+icon('close')
				.modal-thanks__titel.s-title-36 Спасибо!
				.modal-thanks__text.s-text Наш менеджер свяжется с вами в ближайшее время!