include ../cards/advantages-card
section#advantages-complex.advantages-complex
	.container
		.advantages-complex__section-title
			.section-title
				.section-title__text Преимущества
				.section-title__number.num-2 2
		.row
			.col-xl-11.offset-1
				.row
					.col-xll-4
						.advantages-complex__item
							+advantagesCard('advantages-1', 'Комфорт', 'Развитая инфраструктура, потрясающий вид на горы и море.  В пешей минутной доступности – детские сады и школы. Удобный выезд к железнодорожному вокзалу и аэропорту', '01', 'right')
					.col-xll-4
						.advantages-complex__item
							+advantagesCard('advantages-2', 'Уют', 'Полное ландшафтное озеленение территории и высажены фруктовые деревья. Комплекс выполнен из надежных экологичных строительных материалов', '02')
					.col-xll-4
						.advantages-complex__item
							+advantagesCard('advantages-3', 'Безопасность', 'Территория охраняемая. Закрытая территория, видео-наблюдение на территории и консьерж', '03', 'right')