section.main
	.main__content
		.container
			h1.main__title
				| Жилой комплекс в Сочи
				br
				| с видом на море и горы
				br
				| от 102 000₽ за м2
			.main__scroll-down
				a.scroll-down(href='#')
					.scroll-down__icon
						+icon('scroll-down')
					.scroll-down__text
						| Купить жилье 
						br 
						| в тихом районе
						br
						| города
	.container
		.main__start-sales
			.main__wrap-sales
				.main__subtitle Старт продаж
				.main__sales-text.s-subtitle
					| Сдача первого дома
					br
					| в 3 квартале 2022
				a.main__link.s-subtitle(href='#' data-toggle="modal" data-target="#modal2") Оставить заявку
			.main__m-sales
				.main__m-title cдача дома
				.main__m-text 3 квартрал 2022