section.main
	//- .container
		.main__start-sales
			.main__wrap-sales
				.main__subtitle Старт продаж
				.main__text
					| Сдача первого дома
					br
					| в 3 квартале 2022
				a.main__link(href='#') Оставить заявку
	.main__content
		.container
			h1.main__title
				| Жилой комплекс в Сочи
				br
				| с видом на море и горы
				br
				| от 102 000₽ за м2
			.main__wrap
				.main__scroll-down
					a.scroll-down(href='#')
						+icon('scroll-down')
				.main__text
					| Купить жилье 
					br 
					| в тихом районе
					br
					| города