section.s-advantages
	.container
		.s-advantages__content
			h1.s-advantages__title Вы покупаете не просто квартиру, а целый ряд преимуществ
			.s-advantages__wrap
				.s-advantages__scroll-down
					a.scroll-down(href='#')
						+icon('scroll-down')
				.s-advantages__text
					| Преимущества
					br
					| ЖК “Летний”