section.s-advantages
	.container
		.s-advantages__content
			h2.s-advantages__title.s-title Вы покупаете не просто квартиру, а целый ряд преимуществ
			.s-advantages__scroll-down
				a.scroll-down(href='#')
					.scroll-down__icon
						+icon('scroll-down')
					.scroll-down__text
						| Преимущества
						br
						| ЖК “Летний”