section#s-document.s-document
	.container
		.s-document__section-title
				.section-title
					.section-title__text О застройщике
					.section-title__number.num-5 5
		.row
			.col-xll-11.col-xl-10.col-11.offset-xll-1.offset-xl-2.offset-1
				.row
					.col-12.s-document__title
						h2.s-title-36 Наши документы
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-1.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Договор аренды земельного участка
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-2.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Выписка ЕГРН земельного участка
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-3.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Заключение о соответствии
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-4.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Генплан Кудепста
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-5.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Проектная декларация
					.col-xll-4.col-xl-6
						a.s-document__document(href='static/documents/doc-6.pdf', target='_blank')
							.s-document__download
								+icon('download')
							.s-document__text Проектная декларация Кудепста
					.col-12.s-document__content
						.row
							.col-12
								h2.s-document__content-title.s-title-36 Застройщик AVA Sochi – это доверие
							.col-xll-8
								.s-document__text.s-text Застройщик комплекса — «ООО AVA Sochi» объединяет в себе группу компаний, осуществляющих полный цикл работ от проектирования и согласования, до строительства и дальнейшей эксплуатации и обслуживания объекта. За 20 лет существования было реализовано более десятка известных проектов.
							.col-xll-4
								.s-document__content-logo
									img(src='../../../static/images/general/logo-sochi.svg', alt='AVA Sochi Застройщик')