section.s-feedback
	.container
		.row
			.col-xl-6.offset-xll-1
				h2.s-feedback__title.s-title Чтобы узнать все детали о квартирах, вы можете заказать звонок специалиста
			.col-xll-5.col-xl-6
				.s-feedback__form
					form#form-feedback.needs-validation(action='form.php', method='POST', novalidate)
						<input type="hidden" name="utm_campaign" value="<?php echo isset($_GET['utm_campaign']) ? $_GET['utm_campaign'] : '' ;?>" />
						<input type="hidden" name="utm_content" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_content'] : '' ;?>" />
						<input type="hidden" name="utm_medium" value="<?php echo isset($_GET['utm_medium']) ? $_GET['utm_medium'] : '' ;?>" />
						<input type="hidden" name="utm_source" value="<?php echo isset($_GET['utm_source']) ? $_GET['utm_source'] : '' ;?>" />
						<input type="hidden" name="utm_term" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_term'] : '' ;?>" />
						<input type="hidden" name="UF_CRM_GA_CID" value="<?php echo $UaParser->getCid(); ?>" />
						<input class="hidden-input" type="hidden" name="title" value="Заказ звонка специалиста">
						<input class="hidden-input" type="hidden" name="admin_email" value="info@jk-letniy.ru">
						<input class="hidden-input" type="hidden" name="project_name" value="ЖК Летний">
						<input class="hidden-input" type="hidden" name="form_subject" value="Узнать все детали заказа у специалиста">
						.form-group
							label.white
								input.form-control(type='tel', name='phone', pattern='[7-8]\\s\\(\\d{3}\\)\\s\\d{3}-\\d{2}-\\d{2}', minlength='17', required, placeholder='+7 (___) ___-__-__')
								span Ваш телефон
						button.c-btn.c-btn--wdh290.c-btn--white.c-btn--gray(type='submit') Позвоните мне