section.s-location
	.container
		.s-location__section-title
			.section-title
				.section-title__text Местоположение
				.section-title__number.num-4 4
		.row
			.col-xll-11.col-xl-10.offset-xll-1.offset-lg-2
				.row
					.col-xll-7.col-xl-6
						h2.s-location__title Все самое важное – рядом
					.col-xll-5.col-xl-6
						.s-location__address
							p
								| Комплекс расположен по адресу:
								br
								| г. Сочи, Хостинский район, Кудепста, ул. Искры, 85
					.col-12
						.row
							.col-xl-4
								.s-location__info
									.s-location__number.clr-1 800
									.s-location__right
										.s-location__text до моря
										.s-location__units.clr-1 метров
							.col-xl-4
								.s-location__info
									.s-location__number.clr-1 15
									.s-location__right
										.s-location__text до центра Сочи
										.s-location__units.clr-1 минут
							.col-xl-4
								.s-location__info
									.s-location__number.clr-1 10
									.s-location__right
										.s-location__text до центра Адлера
										.s-location__units.clr-1 минут