section.s-map
	.container
		.tabs
			ul.s-map__nav.nav(role='tablist')
				li.nav-item
					a.s-map__nav-item.nav-link.active(data-toggle='tab', href='#places', role='tab', aria-selected='true')
						+icon('places')
						| Места
				li.nav-item
					a.s-map__nav-item.nav-link(data-toggle='tab', href='#driveway', role='tab', aria-selected='false')
						+icon('driveway')
						| Проезд
			.s-mape__content.tab-content
				#places.tab-pane.show.active(role='tabpanel')
					.s-map__places-map
						button(type='button', data-value='one')
							img(src='../../../../static/images/general/cafe.svg', alt='Кафе и рестораны')
							span Кафе и рестораны
						button(type='button', data-value='two')
							img(src='../../../../static/images/general/hospital.svg', alt='Аптеки и больницы')
							span Аптеки и больницы
						button(type='button', data-value='three')
							img(src='../../../../static/images/general/recreation.svg', alt='Отдых и развлечения')
							span Отдых и развлечения
						button(type='button', data-value='four')
							img(src='../../../../static/images/general/learning.svg', alt='Школы и детские сады')
							span Школы и детские сады
				#driveway.tab-pane(role='tabpanel')
					.s-map__places-map
						.s-map__item-places.item-places
							.item-places__img
								img(src='../../../../static/images/general/airport-s.svg', alt='Аэропорт')
							.item-places__content
								.item-places__title Аэропорт
								.item-places__text ул. Мира, 50, Адлер, Краснодарский край
						.s-map__item-places.item-places
							.item-places__img
								img(src='../../../../static/images/general/train-s.svg', alt='Ж/Д Вокзал')
							.item-places__content
								.item-places__title Ж/Д Вокзал
								.item-places__text ул. Горького, 56, Сочи, Краснодарский край
	.s-map__map
		#map-ctrl Используйте Ctrl + scroll, чтобы увеличить карту.
		#map