section.s-quiz
	.container
		.row
			.col-xll-7.col-lg-8.offset-xll-1
				h1.s-quiz__title.s-title
					| Получите подборку апартаментов и скидку
					span.clr-1  100.000 ₽ 
					| на покупку
				.s-quiz__text.s-text Пройдите минутный опрос и мы подберем подходящие варианты. Бронируем денежный бонус за каждым участником.
				button.s-quiz__button.c-btn.c-btn--wdh290.c-btn--white.open-quiz(type='button', onclick="yaCounter67549219.reachGoal('quiz_start'); gtag('event', 'quiz', { 'event_category': 'quiz', 'event_action': 'start' }); gtag('event', 'page_view', { 'page_path': '/quiz-start' });") Пройти опрос
			.col-lg-4
				.s-quiz__logo
					img(src='../../../../static/images/general/logo-quiz.svg', alt='Логотип')