section.s-quiz
	.container
		.row
			.col-lg-7.offset-xll-1
				h1.s-quiz__title
					| Получите подборку апартаментов и скидку
					span.clr-1  100 000 ₽ 
					| на покупку
				.s-quiz__text Пройдите минутный опрос и мы подберем подходящие варианты. Бронируем денежный бонус за каждым участником.
				button.s-quiz__button.c-btn.c-btn--wdh290.c-btn--white(type='button') Пройти опрос
			.col-lg-4
				.s-quiz__logo
					img(src='../../../../static/images/general/logo-quiz.svg', alt='Логотип')