section.not-found
	a.not-found__logo(href='index.html')
		img(src='../../../static/images/general/logo.svg', alt='ЖК Летний')
	.not-found__content
		.not-found__img
			img(src='../../../static/images/general/404.svg', alt='Страница не найдена')
		h1.s-title Упс... Страница не найдена
		.not-found__link
			a.c-btn(href='index.html') Вернуться на главную