include ../utils/mixins
block variables

<!DOCTYPE html>
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content=description)
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap', rel='stylesheet')
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
		link(href="static/images/general/favicon.png" rel="shortcut icon" type="image/png")

		<!--[if lt IE 9]>
		script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" defer)
		<![endif]-->
	body
		block content
		block modal