.about-card {
	min-height: 348px;
	padding: 42px 35px;
	background: $white;
	&__icon {
		min-height: 97px;
		margin-bottom: 32px;
	}
	&__titel {
		margin-bottom: 20px;
		line-height: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.about-card {min-height: auto}
}

@media only screen and (max-width: 575px) {
	.about-card {
		min-height: auto;
		padding: 30px 15px;
		&__icon {
			max-width: 90px;
			min-height: auto;
		}
	}
}