mixin aboutCard(image, titel, text)
	.about-card
		.about-card__icon
			img(src='../../../static/images/general/'+image+'.svg', alt='')
		.about-card__titel.s-subtitle=titel
		.about-card__text.s-text=text