extends template/main

block variables
	- var title = 'Купить квартиру в Сочи - Grand Royal Residence'
	- var description = 'Купить квартиру в жилом комплексе комфорт-класса у моря для жизни и отдыха в городе Сочи. Цены от застройщика.'

block content
	include ./section/main/main
	include ./section/main/about-complex
	include ./section/main/s-advantages
	//- include ./section/main/advantages-complex
	include ./section/main/s-quiz
	include ./section/main/s-feedback
	include ./section/main/s-location
	include ./section/main/s-map
	include ./section/main/s-document