// Colors
$white: #fff;
$black: #000;
$accent: #eb9e40;
$accent2: #d68524;
$accent3: #f0c187;
$red: #f33a00;
$text-dark: #333;
$blue-light: #f4f8fd;
$orange-bg: rgba(255, 224, 188, 0.5);
$orange-light: #f2d3ad;
$purple: #340758;
$purple-dark: #19012c;
$gray: #aaa;
$gray-dark: #696969;
$clre5: #e5e5e5;
$clrf4: #f4f4f4;
$clrb0: #b0b0b0;
$clreb: #ebebeb;

// Квиз
$wgray: #959BA4;
$gray: #4F4F4F;
$qgray: #A6A6A6;
$red: #EB5757;
$orange: #E2AE53;

$gradient1: linear-gradient(90deg, #E2AE53 0%, #E1874D 103.98%);
$gradient2: linear-gradient(90deg, #EFC264 0%, #CD713F 100%);

$gradientHover: rgba(#E1874D, .9);

$rangeBorder:  #E2AE53;
$shadowBtn: 0px 5px 15px rgba(226, 154, 80, 0.45);

$white-bg: #ffffff;
$wgray-bg: #F5F4F0;
$wgray-bg1: #EAEAEA;
$red-bg: #EB5757;
// Sizes
$base-font-size: 16px;

// Sizes
$base-font-size: 20px;