// Colors
$white: #fff;
$black: #000;
$accent: #eb9e40;
$accent2: #d68524;
$accent3: #f0c187;
$red: #f33a00;
$text-dark: #333;
$blue-light: #f4f8fd;
$orange-bg: rgba(255, 224, 188, 0.5);
$orange-light: #f2d3ad;
$purple-dark: #19012c;
$clre5: #e5e5e5;
$clrf4: #f4f4f4;
$clrb0: #b0b0b0;
$clreb: #ebebeb;

// Sizes
$base-font-size: 20px;