footer.footer
	.container
		.row
			.col-xll-5.col-xl-6.offset-xll-1.footer__wrap
				.footer__information
					.footer__logo
						img(src='../../../static/images/general/logo-w.svg', alt='ЖК Летний')
					nav.footer__navigation
						ul.footer__list.s-subtitle
							li
								a(href='#about-complex') О комплексе
							li
								a(href='#s-layouts') Квартиры
							li
								a(href='#s-location') Местоположение
							li
								a(href='#s-document') О застройщике
					.footer__contacts
						.footer__contact-text Вы можете позвонить нам
						a(href='tel:+78003503120') 8 (800) 350-31-20
						.footer__contact-text Или написать на электронную почту
						a(href="mailto:info@jk-letniy.ru") info@jk-letniy.ru
					.footer__by ЖК Летний © 2020
			.col-xl-5.offset-xl-1
				.footer__forms
					.footer__title.s-title Нужна консультация?
					.footer__text.s-text Оставьте свои контактные данные, и мы перезвоним, чтобы ответить на любые вопросы
					form#form-footer.needs-validation(action='form.php', novalidate)
						<input type="hidden" name="utm_campaign" value="<?php echo isset($_GET['utm_campaign']) ? $_GET['utm_campaign'] : '' ;?>" />
						<input type="hidden" name="utm_content" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_content'] : '' ;?>" />
						<input type="hidden" name="utm_medium" value="<?php echo isset($_GET['utm_medium']) ? $_GET['utm_medium'] : '' ;?>" />
						<input type="hidden" name="utm_source" value="<?php echo isset($_GET['utm_source']) ? $_GET['utm_source'] : '' ;?>" />
						<input type="hidden" name="utm_term" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_term'] : '' ;?>" />
						<input type="hidden" name="UF_CRM_GA_CID" value="<?php echo $UaParser->getCid(); ?>" />
						<input class="hidden-input" type="hidden" name="title" value="Нужна консультация?">
						<input class="hidden-input" type="hidden" name="admin_email" value="info@jk-letniy.ru">
						<input class="hidden-input" type="hidden" name="project_name" value="ЖК Летний">
						<input class="hidden-input" type="hidden" name="form_subject" value="Форма в подвале сайта">
						.form-group
							label
								input(type='input', name='name', maxlength='30', placeholder='Имя')
								span Ваше имя
						.form-group
							label
								input.form-control(type='tel', name='phone', pattern='[7-8]\\s\\(\\d{3}\\)\\s\\d{3}-\\d{2}-\\d{2}', minlength='17', required, placeholder='+7 (___) ___-__-__')
								span Ваш телефон
						.footer__checkbox
							label.checkbox.form-check
								input.form-check-input(type='checkbox', value='', required, checked)
								span.checkbox__text Согласен с политикой конфиденциальности
						.footer__button
							button.c-btn(type='submit') Получить консультацию