.floating {
    animation-name: floating;
    animation-duration: 1s;   
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(5px)
    }
}
 
@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(8%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}
