.about-complex {
	padding: 104px 0 120px;
	background: $blue-light;
	overflow: hidden;
	.container {position: relative}
	&__section-title {
		position: absolute;
		top: 0;
		left: 10px;
	}
	&__discription {
		p {
			max-width: 620px;
			padding: 46px 0;
			font-weight: 500;
		}
	}
	&__location {
		position: relative;
		p {
			position: relative;
			padding: 46px 0;
			z-index: 2;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: -100vw;
			bottom: 0;
			left: -82px;
			background: $white;
			z-index: 1;
		}
	}
	&__slider {margin: 80px 0 120px}
	&__item {
		height: 420px;
		img {height: 100%}
	}
	.container-fluid {padding: 0}
	.col-xll-4.col-xl-6 {
		&:nth-child(1n+4) {margin-top: 60px}
	}
}

@media only screen and (max-width: 1709px) {
	.about-complex {
		&__location {
			&::after {left: -30px}
		}
		.col-xll-4.col-xl-6 {
			&:nth-child(1n+4) {margin-top: 0}
			&:nth-child(1n+3) {margin-top: 30px}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.about-complex {
		&__discription, &__location {
			max-width: 100%;
			p {padding: 26px 0}
		}
		&__location {
			&::after {display: none}
		}
		&__slider {margin: 80px 0 90px}
		.container-fluid {padding: 0 15px}
		.col-xll-4.col-xl-6 {
			&:nth-child(1n+3) {margin-top: 0}
			&:nth-child(1n+2) {margin-top: 30px}
		}
	}
}

@media only screen and (max-width: 575px) {
	.about-complex {
		padding: 50px 0;
		&__discription, &__location {
			p {padding: 0}
		}
		&__discription {margin-bottom: 30px}
		&__slider {margin: 60px 0}
		.container-fluid {padding: 0}
		.col-xll-4.col-xl-6 {
			&:nth-child(1n+2) {margin-top: 20px}
		}
	}
}