.advantages-complex {
	padding: 206px 0;
	background: $orange-bg;
	.container {position: relative}
	&__section-title {
		position: absolute;
		top: 0;
		left: 10px;
	}
}

@media only screen and (max-width : 1709px) {
	.advantages-complex {
		.col-xll-4 {
			&:first-child {
				.advantages-card__hidden {padding-left: 40px}
			}
			&:not(:last-child) {margin-bottom: 70px}
		}
	}
}

@media only screen and (max-width : 1199px) {
	.advantages-complex {padding: 108px 0}
}

@media only screen and (max-width : 991px) {
	.advantages-complex {
		.col-xll-4 {
			&:not(:last-child) {margin-bottom: 30px}
		}
	}
}

@media only screen and (max-width: 575px) {
	.advantages-complex {
		padding: 40px 0;
		.col-xll-4 {
			&:not(:last-child) {margin-bottom: 15px}
		}
	}
}