.s-advantages {
	position: relative;
	height: 486px;
	background: center/cover url('../../../../static/images/content/bg__header.jpg') no-repeat;
	color: $white;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 1;
	}
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 890px;
		width: 100%;
		transform: translate(-50%, -50%);
		z-index: 2;
	}
	&__title {margin-bottom: 25px}
	.container {
		position: relative;
		height: 100%;
	}
}

@media only screen and (max-width: 1199px) {
	.s-advantages {
		height: 438px;
		&__content {
			left: 15px;
			max-width: 690px;
			transform: translate(0, -50%);
		}
	}
}

@media only screen and (max-width: 575px) {
	.s-advantages {
		height: 300px;
		&__content {
			right: 15px;
			max-width: 100%;
			width: auto;
		}
	}
}