.s-layouts {
	padding: 160px 0;
	&__section-title {
		position: absolute;
		top: 0px;
		left: 10px;
	}
	&__slider {
		display: none !important;
		margin-top: 36px;
	}
	&__item {
		height: 230px;
		img {
			max-width: 100%;
			width: auto !important;
			height: 100%;
			margin: 0 auto;
			transform: translateX(-10%);
		}
	}
	&__image-svg {
		margin-top: 64px;
		.plan {
			cursor: pointer;
			&__bg {
				fill: $blue-light;
				transition: .3s linear;
			}
			&:hover {
				.plan__bg {fill:$orange-light}
			}
		}
	}
	.container {position: relative}
}

@media only screen and (max-width: 1199px) {
	.s-layouts {
		padding: 100px 0;
	}
}

@media only screen and (max-width: 767px) {
	.s-layouts {
		&__image-svg {display: none}
		&__slider {
			display: block !important;
		}
	}
}

@media only screen and (max-width: 575px) {
	.s-layouts {
		padding: 50px 0;
	}
}