.s-location {
	padding: 114px 0 184px;
	background: $blue-light;
	overflow: hidden;
	.container {position: relative}
	.col-xll-7.col-xl-6, .col-xll-5.col-xl-6 {
		display: flex;
		align-items: center;
	}
	&__section-title {
		position: absolute;
		top: 45px;
		left: 15px;
	}
	&__address {
		position: relative;
		padding: 40px 0;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: -100vh;
			bottom: 0;
			left: -130px;
			background: $white;
			z-index: 1;
		}
		p {
			position: relative;
			z-index: 2;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		font-weight: 600;
		line-height: 33px;
	}
	&__number {
		margin-right: 25px;
		color: $accent;
		font-size: 96px;
	}
	&__text {
		margin-bottom: 2px;
		font-size: 24px;
	}
	&__units {font-size: 30px}
	.col-12 {margin-top: 100px}
}

@media only screen and (max-width: 1709px) {
	.s-location {
		&__address {
			&::after {left: -20px}
		}
		&__info {
			flex-direction: column;
			align-items: flex-start;
		}
		&__number {margin-bottom: 40px}
	}
}

@media only screen and (max-width: 1199px) {
	.s-location {
		padding: 60px 0 120px;
		&__address {
			&::after {display: none}
		}
		&__info {
			flex-direction: row;
			align-items: center;
		}
		&__number {margin-bottom: 0}
		.col-12 {margin-top: 60px}
		.col-xl-4 {
			&:not(:first-child) {margin-top: 80px}
		}
	}
}

@media only screen and (max-width: 575px) {
	.s-location {
		padding: 60px 0 90px;
		&__section-title {top: 0px}
		&__address {
			margin-top: 36px;
			padding: 0;
			font-size: 16px;
		}
		&__info {
			display: block;
			line-height: 22px;
		}
		&__number {
			font-size: 40px;
			margin-bottom: 10px;
		}
		&__right {
			display: flex;
			flex-direction: column-reverse;
		}
		&__text {
			font-size: 16px;
			font-weight: 500;
		}
		&__units {font-size: 18px}
		.col-xl-4 {
			&:not(:first-child) {margin-top: 0}
			&:nth-child(1n+3) {margin-top: 30px}
		}
	}
}