.s-quiz {
	position: relative;
	padding: 107px 0;
	background: $purple-dark;
	color: $white;
	overflow: hidden;
	&::after {
		content: url('../../../../static/images/general/decor.svg');
		position: absolute;
		top: -50px;
		right: -400px;
		z-index: 1;
	}
	&__title, &__text, &__button, &__logo {
		position: relative;
		z-index: 2;
	}
	&__title {
		max-width: 864px;
		margin-bottom: 56px;
	}
	&__text {
		max-width: 864px;
		margin-bottom: 64px
	}
	&__logo {
		display: flex;
		justify-content: center;
		img {margin-top: 40px}
	}
}

@media only screen and (max-width: 1709px) {
	.s-quiz {
		padding: 87px 0;
	}
}

@media only screen and (max-width: 1199px) {
	.s-quiz {
		padding: 108px 0;
		&__title {
			margin-bottom: 50px;
			font-size: 36px;
			line-height: 130%;
		}
		&__text {
			margin-bottom: 98px;
			font-size: 20px;
			line-height: 150%;
		}
		&__logo {
			justify-content: flex-end;
			img {margin-top: 0}
		}
		.col-lg-4 {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

@media only screen and (max-width: 991px) {
	.s-quiz {
		&::after {
			right: -700px;
		}
		.col-lg-4 {display: none}	
	}
}

@media only screen and (max-width: 575px) {
	.s-quiz {
		padding: 40px 0 50px;
		&::after {display: none}
		&__title {
			max-width: 340px;
			margin-bottom: 20px;
			font-size: 18px;
			line-height: 24px;
		}
		&__text {
			margin-bottom: 30px;
			font-size: 14px;
			font-weight: 300;
			line-height: 22px;
		}
	}
}

@media only screen and (max-width: 475px) {
	.s-quiz {
		&__title {
			max-width: 300px;
		}
	}
}