.c-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	height: 70px;
	padding: 20px;
	background: $accent;
	color: $white;
	border: none;
	border-radius: 2px;
	font-size: 20px;
	font-weight: 600;
	line-height: 29px;
	outline: none;
	transition: .3s linear;
	cursor: pointer;
	&:hover {
		background: $accent2;
		box-shadow: inset 0px 4px 10px rgba(0, 0, 0, .25);
	}
	&:active {
		background: $accent3;
		box-shadow: none
	}
	&--wdh290 {
		max-width: 290px;
	}
	&--white, &--gray {
		background: $white;
		color: $purple-dark;
		&:hover {background: $accent3}
		&:active {background: $orange-light}
	}
	&--gray {
		&:hover {background: $clre5}
		&:active {background: $clrf4}
	}
}

.checkbox {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	user-select: none;
	input {display: none}
	&__text {
		position: relative;
		display: flex;
		align-items: center;
		height: auto;
		line-height: 1.1;
		cursor: pointer;
		&::before {
			content: '';
			display: inline-block;
			flex-shrink: 0;
			width: 25px;
			height: 25px;
			margin: auto 18px auto 0;
			border: 2px solid $gray;
			border-radius: 2px;
		}
		&::after {
			display: none;
			content: url('../../../../static/images/general/check.svg');
			position: absolute;
			left: 5px;
			line-height: 12px;
		}
	}
	input[type=checkbox]:checked ~ span::after {display: block}
}

@media only screen and (max-width: 1199px) {
	.checkbox {
		&__text {font-size: 18px}
	}
}

@media only screen and (max-width: 575px) {
	.c-btn {
		height: 40px;
		padding: 11px 20px;
		font-size: 14px;
		line-height: 17px;
		&--wdh290 {max-width: 100%}
	}
	.checkbox {
		&__text {font-size: 16px}
	}
}