.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 36px 0;
	background: transparent;
	color: $white;
	font-size: 16px;
	transition: .3s linear;
	transform: translateY(0);
	z-index: 100;
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		img {
			&:last-child {display: none}
		}
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__navigation {
		margin-right: 60px;
		font-weight: 500;
		line-height: 20px;
		ul {
			display: flex;
			align-items: center;
			margin: 0;
		}
		li {
			&:not(:last-child) {margin-right: 62px}
		}
		a {
			&:hover {color: $accent}
			&:active {
				color: $accent3;
				text-decoration: underline;
			}
		}
	}
	&__phone {
		margin-right: 34px;
		font-weight: 600;
		&:hover {
			a {color: $accent}
			svg {fill: $accent}
		}
		&:active {
			a {color: $accent3}
			svg {fill: $accent3}
		}
		
	}
	&__callback {
		max-width: 200px;
		button {
			height: 55px;
			padding: 15px;
			font-size: 16px;
		}
	}
	&__hamburger {
		display: none;
		overflow: hidden;
	}
	&.scroll-dwn {
		transform: translateY(-100%);
	}
	&.scroll {
		padding: 12px 0;
		background: $white;
		color: $text-dark;
		.header__logo {
			img {
				&:first-child {display: none}
				&:last-child {display: block}
			}
		}
		.header__phone {
			svg {fill: $text-dark}
		}
		.header__callback {
			button {color: $text-dark}
		}
	}
}

@media only screen and (max-width: 1709px) {
	.header {
		font-size: 15px;
		&__logo {max-width: 155px}
		&__navigation {
			margin-right: 20px;
			li {
				&:not(:last-child) {margin-right: 20px}
			}
		}
		&__phone {margin-right: 15px}
	}
}

@media only screen and (max-width: 1199px) {
	.header {
		font-size: 18px;
		&__logo {max-width: 210px}
		&__phone {margin-right: 44px}
		&__navigation, &__callback {display: none}
		&__hamburger {
			display: block;
			span {
				background: $text-dark;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.header {
		&__logo {max-width: 160px}
		&__phone {margin-right: 20px}
	}
}

@media only screen and (max-width: 575px) {
	.header {
		&__phone {display: none}
	}
}