.icon-scroll-down {
	width: 9px;
	height: 46px;
	fill: $white
}

.icon-arrow-down {
	width: 9px;
	height: 5px;
	fill: $white;
}

.icon-phone {
	width: 16px;
	height: 18px;
	margin-right: 12px;
	fill: $white;
}

.icon-download {
	width: 27px;
	height: 27px;
	fill: $text-dark;
}