.icon-scroll-down {
	width: 9px;
	height: 46px;
	fill: $white
}

.icon-arrow-down {
	width: 18px;
	height: 15px;
	fill: $white;
}

.icon-phone {
	width: 16px;
	height: 18px;
	margin-right: 12px;
	fill: $white;
}

.icon-phone-2 {
	width: 20px;
	height: 22px;
	fill: $text-dark;
}

.icon-download {
	width: 27px;
	height: 27px;
	fill: $text-dark;
}

.icon-look {
	width: 20px;
	height: 16px;
	fill: $accent;
}

.icon-places {
	width: 28px;
	height: 30px;
	fill: $gray;
}

.icon-driveway {
	width: 32px;
	height: 30px;
	fill: $gray;
}

.icon-close {
	width: 24px;
	height: 24px;
	fill: $text-dark;
	stroke-width: 2px;
}