header.header
	.container
		.header__wrap
			.header__left
				.header__logo
					img(src='../../../static/images/general/logo-w.svg', alt='ЖК Летний')
					img(src='../../../static/images/general/logo.svg', alt='ЖК Летний')
			.header__right
				.header__nav-panel
					nav.header__navigation
						ul.list
							li
								a(href='#about-complex') О комплексе
							li
								a(href='#s-layouts') Квартиры
							li
								a(href='#s-location') Местоположение
							li
								a(href='#s-document') О застройщике
				.header__phone
					a(href='tel:+78003503120')
						+icon('phone')
						| 8 (800) 350-31-20
				.header__callback
					button.c-btn(type='button', data-toggle="modal", data-target="#modal2", onclick="yaCounter67549219.reachGoal('clickzvonok'); gtag('event', 'obratniy_zvonok', { 'event_category': 'zvonok', 'event_action': 'click' }); gtag('event', 'page_view', { 'page_path': '/obratniy-zvonok-form' });") Обратный звонок
				.header__hamburger
					.hamburger
						span
						span
						span