.mobile-menu
	.mobile-menu__inner
		.mobile-menu__hamburger.hamburger
			span
			span
			span
		.mobile-menu__body
			ul.list
				li
					a(href='#about-complex') О комплексе
				li
					a(href='#s-layouts') Квартиры
				li
					a(href='#s-location') Местоположение
				li
					a(href='#s-document') О застройщике
		.mobile-menu__footer
			.mobile-menu__phone
				a(href='tel:+78003503120')
					+icon('phone')
					| 8 (800) 350-31-20
			button.mobile-menu__button.c-btn(type='button' data-toggle="modal" data-target='#modal2' onclick="yaCounter67549219.reachGoal('clickzvonok'); gtag('event', 'obratniy_zvonok', { 'event_category': 'zvonok', 'event_action': 'click' }); gtag('event', 'page_view', { 'page_path': '/obratniy-zvonok-form' });") Обратный звонок
	.mobile-menu__overlay
